* {
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container{
  width: 90%;
  height: 80%;
  border: 1px solid red;
  margin: 5%;
  margin-top: 25px;
}