* {
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#modal {
  animation: modal-show 1s;
  /* animation: modal-bg-show 0.8s; */
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#headModal {
  animation: header 0.8s;
}
@keyframes header {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#title-animation {
  animation: title 2s;
}

@keyframes title {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  /* 스크롤바의 width */
}
::-webkit-scrollbar-track {
  /* 스크롤바의 전체 */
}
::-webkit-scrollbar-thumb {
  background-color: #0000006e;
  border-radius: 50px;
  /* 스크롤바 색 */
}

/* 카테고리 컨테이너 */
.container {
  width: 90%;
  height: 80%;
  margin: 5%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.footer-container {
  padding: 30px;
  margin: 0 auto;
  width: 78%;
  display: flex;
  flex-direction: column;
  color: #9e9e9e;
}

.club {
  width: 90%;
  height: 40%;
  margin-bottom: 7px;
}

.meal {
  height: 90%;
  display: flex;
  align-items: center;
}

.pms-info {
  width: 56%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  color: white;
}

/* 달력 */
.react-calendar {
  width: 100%;
  max-width: 100%;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 100%;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar span {
  font-size: 20px;
  font-weight: 600;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  font-size: 14px;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
  margin-bottom: 28px;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  font-size: 16px;
  text-decoration: none;
}

.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  height: 13vh;
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
  display: flex;
  font-size: 14px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: rgb(86, 173, 119, 0.3);
}
